.jumbotron {
  background-color: #394963;
  text-align: center;
}

body {
  background-image: url("../Immages/background.jpg");
  color: white;
}

.side {
  height: 100%;
  position: absolute;
  float: left;
  background-color: lightgrey;
  width: 18%%;
  margin-left: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
}

.logic {
  float: right;
  width: 55%;
}
